---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

@import "main";

body{
    min-width: 600px;
    width : 100%;
    height : 100%;
    margin: 0px;
    /* min-height: 10000px; */
}

.tri {
    position: relative;
    float: right;
    width: 0%;
    height: 0%;
    border-bottom: 100vh solid black;
    border-left: 100vw solid gray;
    margin: 0px;
    
    /* line-height: center; */
}

/* 회색부분 */
.tri-detail{
    width: 95vw;
    height: 100vh;
    position: relative;
    color: white;
    top: -100vh;
    left: 2vw;
    margin: 0;
    font-size: calc(1vw + 1vh)
}

#profile-image{
    width: calc(7vw + 7vh);
    height: calc(9vw + 9vh);
    position: relative;
    top: 3vh;
    border: 5px solid white;
    overflow: hidden;
}

#profile-image img{
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    margin-left: -10%;
}

.contact{
    position: relative;
    width: 98%;
    top: 5vh;
    margin: 0px;
}

.intro{
    position: relative;
    margin: 0px;
    width: 50vw;
    left: 15vw;
    top: -20vh;
}
/* 검은 부분 */
.opt{
    float: right;
    width: 100vw;
    height: 100vh;
    position: relative;
    color: red;
    top: -100vh;
    right: 1%;
    margin: 0px;
}
.near{
    position: relative;
    float: right;
    /* top: 2%; */
    width: 15%;
    height: 15%;;
    right: -1%;
    clip-path: polygon(100% 0,0  100%, 100% 100%);
    background: red;
}
.tag-cate-toggle{
    position: relative;
    float: left;
    top: 90%;
    width: 10%;
    height: 10%;;
    left: 1%;
    clip-path: polygon(100% 0,0  100%, 100% 100%);
    background: purple;
}

/* search box*/
.search-form{
    position: relative;
    float: right;
    width: 80%;
    top: 83vh;
    right: -10vw;
}

#search{
    font-size: 2vw;
    color: black;
}

#button-submit{
    color: black;
    background: red;
}
//  btn-primary

/* tag-category list */
#tag-box{
    // height: 5vh;
    
    // height: 20vh;
    position: absolute;
    width: 100%;
    top: 100vh;
    border-top: 5px solid #06005f;
    background: black;
    color: white;
    text-align: center;
    font-size: calc(1.5vh + 1.5vw);
    font-style: bold;
    margin: 0px;
}


/* */
.tag-list{
    position: relative;
    height: 5vh;
}

ul{
    height: 4vh;
}

li{
    height: 4vh;
}

/* footer */
footer{
    position: relative;
    background: black;
    color: white;
    text-align: center;
    margin: 0px;
}

footer p{
    margin: 0px;
}

