<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <script src="{{'../node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{'../node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{'../node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>

</head>

<body>
  <div class="tri">
    
  </div>
  <div class="tri-detail">
    안녕하세요
    
  </div>
  <div id="tag-box" class="fw-bold">
    TAG
  </div>
  <div>
    <ul>
      {% for post in site.posts %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</body>

</html>