<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  

</head>

<body>
  <!-- {% include header.html %} -->
  <div class="tri">

  </div>
  <div class="tri-detail">
    <div id="profile-image">
      <img src="{{'\assets\images\ggang.jpg'}}">
    </div>
    <div class="intro">
      동덕여자대학교 졸
    </div>
    <div class="contact">
      메일
      </p>
      인스타
      <p>
        유튜브
    </div>

  </div>

  <div class="opt">
    <div class="near">
    </div>

    <div class="tag-cate-toggle">

    </div>
    <form>
      <div id="search" class="input-group input-group-lg">
        <input class="form-control" type="text" placeholder="Enter your tag" aria-label="Enter tag"
          aria-describedby="button-submit">
        <button class="btn btn-primary" id="button-submit" type="button">Sign up!</button>
      </div>
    </form>
    
  </div>


  <div id="tag-box" class="fw-bold">
    TAG
  </div>
  <div>
    <ul>
      {% for post in site.posts %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>


  {% include footer.html %}

  <script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.url}}"></script>
  <script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.url}}"></script>
  <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.url}}"></script>
</body>

</html>